@import "../../../global/styles.scss";

.introduction--outer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  color: white;
  background-image: url("../../../images/neonBackground.webp");
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);


}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding-top: 200px;
  margin-top: 64px;
  height: calc(100vh - 70px);
  text-align: center;

  @media screen and (max-width: 768px) {
    padding-top: 64px;
  }

  h1 {
    font-size: 200px;
    font-weight: 700;
    @media screen and (max-width: 768px) {
      font-size: 96px;
      font-weight: 500;
    }
  }
  h2 {
    font-size: 72px;
    font-weight: 700;
    @media screen and (max-width: 768px) {
      font-size: 52px;
      font-weight: 500;
    }
  }
  p {
    font-size: 36px;
    font-weight: 400;
    @media screen and (max-width: 768px) {
      font-size: 24px;
      font-weight: 300;
    }
  }
}

.introduction--animation-container {
  max-width: 500px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 100%;
    height: auto;
  }

  @media screen and (max-width: 768px) {
    width: 50%;
    padding: 20px 0;
  }
}

.text-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0 24px;
  cursor: default;
  text-shadow: 0 0 5px rgb(0, 0, 0);

  strong {
    font-weight: 700;
  }
}

.home--image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: calc(100% - 120px);
  height: calc(100vh - 70px);
  svg {
    width: 100%;
    height: auto;
  }
}
