//colors
$darkGray: #333432;
$black: #070707;
$aliceBlue: #E7ECEF;
$davysGray: #50514F;
$something: #C4C4C4;
$somethingElse: #FFFCFF;
$Russet: #7B3E19;
$reactBlue: #31AFD4;
$rebeccaPurple: #663399;
$typeScriptBlue: #3178C6;
$cssBlue: #264DE4;
$htmlOrange: #E44D26;
$blakeRed: #e42626;
$javascriptYellow: #FDD83C;

//typography
$Neon: "'Tilt Neon', cursive, sans-serif;"