@import "../global/styles.scss";

.skills-container--outer-container {
    z-index: 1;
    display: flex;
	width: 80%;
	max-width: 1136px;
	height: 240px;
	border-radius: 6px;
	padding: 40px;
	font-weight: 700;
	font-size: 32px;
	line-height: 39px;
    color: $davysGray;
    overflow: hidden;

	margin: 28px 0px;
}

