@import "./global/styles.scss";

.home--outer-container {
    height: calc(100vh - 70px);
	width: 100vw;
	background-color: aliceblue;
}
.home--profile-photo-container {
    height: calc(100vh - 40px);
	position: absolute;
	right: 20px;
	top: 40px;
    overflow: hidden;
}

.home--profile-photo {
	height: calc(100vh);
	object-fit: cover;
	position: sticky;
}
